table {
    width: 100%;
    display: none;
}

table tbody tr th {
    color: white;
    background-color: black;
}

table tbody tr:nth-child(even) td {
    background-color: #efefef;
}

a {
    text-decoration: none;
    border: 1px solid gray;
    background-color: gray;
    color: white;
    padding: 5px;
}

a:hover {
    background-color: #0BB;
    color: black;
}

form {
    display: none;
}